<!-- <!doctype html> -->
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Automated Essay Scoring</title>



    <style>

      @font-face {
        font-family: 'Product Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
      }

      body{
        font-family: Product Sans;
        /*background-color: grey;*/

        /*background-image: url(..\Static\back.jpg);*/
        background-image: url({{ url_for('static', filename='back.jpg')}});
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        padding-left: 60px;
      }

      h1{
        font-size: 50px;
        font-family: Product Sans;
        color: white;
      }

      textarea{
        padding: 20px;
        background-color: white;
        color: black;
        border-radius: 30px;
        outline: none;
      }


      h3{
        color: white;
        font-family: Product Sans;  
      }

    </style>
  </head>

  <body>
    <br><br>
    <h1 >AUTOMATED ESSAY SCORING</h1>
    <!-- <h1>SCORING</h1> -->
    <br>
    <div class="input-group">
        <textarea id="main" placeholder="Enter Essay Here" rows="11" cols="180" ></textarea>
    </div>
    <br>

    <br>
    <button type="button" class="btn btn-outline-light" onclick="senddata()" style="color: black">Score my Essay!</button>
    <br>
    <br>
    
    <h3 id="output">
        <!-- Your score is 0/10 -->
    </h3>

  </body>
   <script>
        var url = window.location.href
        // var track = url.slice(-6)
        var input_text=""
        // track = track.substring(0,4)
        function senddata(){
            // file1 = open("result.txt", "w")
            var text = document.getElementById("main")
            var output = document.getElementById("output")
            const obj = {
                text:text.value,
                // track:track
            }
            input_text=text.value
            localStorage.setItem("input_text",input_text);
            const str = JSON.stringify(obj)
            // console.log(track)
            window.location.replace("http://127.0.0.1:5000/calculate/"+ url.slice(-1) + "/" + text.value);

                // document.location.reload(true);
                // document.write("Your grade is : " + window.location.href.slice(-1) + "/10");

                
                // output.innerHTML = "Your grade is : " + url.slice(-1) + "/10"
            
            // if(track){
            //     window.location.replace("http://127.0.0.1:5000/calculate/"+ track + "/" + url.slice(-1) + "/" + text.value);
            //     // window.location.href = "http://127.0.0.1:5000/calculate/"+ track + "/0/" + text.value;
            // }     
            // output.innerHTML = "Your grade is : " + url.slice(-1) + "/10"
        }
        localStorage.setItem("score", window.location.href.slice(-1));
        console.log(localStorage.getItem("score"));
        console.log(localStorage.getItem("input_text"));
        document.getElementById("output").innerHTML= "Your grade is : " + window.location.href.slice(-1) + "/10";
        document.getElementById("main").value=localStorage.getItem("input_text");
    </script>
</html>